@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #3f4153;
    height: 100%;
}
.loading {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #37374b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.8s;
}
.circle {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.title {
    color: #eee;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 6px;
    font-size: 30px;
    font-weight: bold;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171925;
    padding-right: 5px;
    border-bottom: solid 1px #000;
}
.navbar-links ul {
    display: flex;
}
.navbar-links li {
    list-style: none;
    
}
.navbar-links li:hover {
    background-color: #000;
}
.navbar-links li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px;
}
.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
    top: 16px;
    right: 16px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

@media (max-width: 510px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .active {
        display: block;
    }
    .navbar {
        
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .title {
        margin-right: 50px;
    }
    .image{
        width: 350px;
    }
}

a {
    text-decoration: none;
    color: #8491f5;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.image-content {
    background-color: #262938;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.image-description {
    max-width: 30vw;
    min-width: 400px;
}

img {
    width: 100%;
    height: auto;
    background-color: #000;
}
.image-name {
    color: white;
    font-size: 30px;
}
.image-text {
    margin-top: 20px;
    color: white;
}
.image {
    width: 400px
}

@media screen and (max-width: 435px)
{
    .image{
        width: 300px;
    }
    .image-description {
        max-width: unset;
        min-width: unset;
    }
}
@media screen and (min-width: 1000px)
{
    .image{
        width: 600px;
    }
}

footer {
    position: fixed;
    background-color: #0e0f16;
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: right;

}
footer p {
    color: #aaa;
    margin-top: 10px;
    margin-right: 16px;
}